<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smart_home">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>



    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Contact_Person_SignIn.Login" />
        <activity android:name=".Contact_Person_SignIn.Register" />

        <activity android:name=".Contact_Person_Screen.Contact_Person_Add_New_Users" />
        <activity android:name=".Contact_Person_Screen.Contact_Person_Users_List" />
        <activity android:name=".Contact_Person_Screen.Contact_Person_Notification" />
        <activity android:name=".Contact_Person_Screen.Contact_Person_User_Home" />
        <activity android:name=".Contact_Person_Screen.Contact_Person_User_Profile" />
        <activity android:name=".Contact_Person_Screen.Contact_Person_Edit_User_Profile"/>
        <activity android:name=".Contact_Person_Screen.Contact_Person_User_Modes" />
        <activity android:name=".Contact_Person_Screen.Contact_Person_User_Modes_Show"/>
        <activity android:name=".Contact_Person_Screen.Contact_Person_Profile"/>
        <activity android:name=".Contact_Person_Screen.Contact_Person_Edit_Profile"/>


        <activity android:name=".Contact_Person_Modes.Contact_Person_Sleep_Mode" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_MoveOut_Mode" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_Automatic_Mode" />

        <activity android:name=".Contact_Person_Modes.Contact_Person_Automatic_Mode_Bedroom" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_Automatic_Mode_Livingroom" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_Automatic_Mode_WC" />

        <activity android:name=".Contact_Person_Modes.Contact_Person_Moveout_Mode_Bedroom" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_Moveout_Mode_Livingroom" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_Moveout_Mode_WC" />

        <activity android:name=".Contact_Person_Modes.Contact_Person_Sleep_Mode_Bedroom" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_Sleep_Mode_Livingroom" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_Sleep_Mode_WC" />
        <activity android:name=".Contact_Person_Modes.Contact_Person_Sleep_Mode_Kitchen" />

        <activity android:name=".Users_SignIn.User_Login" />

        <activity android:name=".Users_Modes.User_Home" />
        <activity android:name=".Users_Modes.User_Home_Voice_Recognition"/>

        <activity android:name=".Users_Modes.User_Sleep_Mode" />
        <activity android:name=".Users_Modes.User_Move_Out_Mode" />
        <activity android:name=".Users_Modes.User_Automatic_Mode_Bedroom" />
        <activity android:name=".Users_Modes.User_Automatic_Mode_Living_Room" />
        <activity android:name=".Users_Modes.User_Automatic_Mode_Kitchen" />
        <activity android:name=".Users_Modes.User_Automatic_Mode_WC" />
        <activity android:name=".Users_Modes.User_Manual_Mode_Bedroom" />
        <activity android:name=".Users_Modes.User_Manual_Mode_Living_Room" />
        <activity android:name=".Users_Modes.User_Manual_Mode_Kitchen" />
        <activity android:name=".Users_Modes.User_Manual_Mode_WC" />
    </application>

</manifest>